.aboutme {
  margin: 5rem 0;
}

.skills {
  margin: 1.5rem 0;

}

.l-skills {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
   font-family: 'Cabin Sketch', cursive;
}

.n-skill {
  color : var(--second-color-text);
  letter-spacing: 2px;
  margin: .3rem 0;
  opacity: .7;

}