.principal-information {
  color: var(--principal-color-text);
  padding: 7rem 0;
  
}

.title {
  font-weight: var(--w-semi-b);
  font-size: var(--high-size);
  display: inline-block;
  letter-spacing: 1px;
  overflow: hidden;
}

.text {
  display: block;
}

.second-text {
  color: var(--second-color-text);
  font-weight: var(--w-regular);
}

.arrow-down {
  color: var(--color-border);
  opacity: .5;
  font-size: 2rem;
}

.scroll-down {
  display: flex;
  margin: 8rem 0;
  justify-content: center;
}


@media screen and (min-width: 640px) {
  .title {
    font-size: var(--x-size);
  }

  .scroll-down {
    display: none ;
  }
  
  .principal-information {
    margin: 8rem 0 8rem 0;
  }

}

@media screen and (min-width: 950px) {
  .title {
    letter-spacing: 5px;
    margin: 0 4rem;
  }

  .principal-information {
    margin: 4rem 0 12rem 0;
  }

}